@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #dedada;
}
/* Estilo para o indicador de quantidade no ícone do carrinho */
#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}




